* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: Verdana;
    color: #fff;
    font-size: 10px;
    overflow: hidden;
    outline: none;
	background-color:#FFF;
}

#thumbsWrapper {
    position: fixed;
    width: 100vw;
    height: 140px;
    bottom: 10px;
    left: 0px;
	z-index:1;
}

#thumbsContainer {
    height: 140px;
    display: block;
    margin: 0;
}

#thumbsWrapper img {
    float: left;
    margin: 0px 20px 0px 20px;
    display: block;
    cursor: pointer;
    opacity: 0.9;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=40);
}

#imageWrapper {
    position: relative;
    padding-top: 30px;
    text-align: center;
}

#imageWrapper img {
    margin: 0 auto;
    -moz-box-shadow: 2px 2px 10px #111;
    -webkit-box-shadow: 2px 2px 10px #111;
    box-shadow: 2px 2px 10px #111;
}

.parentimageLarge {
    position: absolute;
    width: 0px;
    transition: width 0.3s linear 0s;
    z-index: 9000;
}

.parentimage {
    width: 110px;
    height: 110px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    margin: 50px;
    z-index: 9000;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(71, 71, 71, 1);
    box-shadow: 0px 2px 7px -2px rgba(71, 71, 71, 1);
}

.parentimage:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.handleRightArrow {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 9999;
    -webkit-box-shadow: 0px 2px 12px 0px #66afe9;
    -moz-box-shadow: 0px 2px 12px 0px #66afe9;
    box-shadow: 0px 2px 12px 0px #66afe9;
}

.thumbParentimage {
    width: 100px;
    height: 100px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    margin: 10px;
    z-index: 9000;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(71, 71, 71, 1);
    box-shadow: 0px 2px 7px -2px rgba(71, 71, 71, 1);
    outline: none;
    -moz-outline: none;
    cursor: pointer;
}

.video {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
}

#detaileddiv {
    height: 100%
}

#thumbs {
    position:fixed;
	top:50px;
	left:50px; 
    width: 150px;
    height: 100%;
	vertical-align:middle;
}

.thumbs-list {
    width: 110px;
    height: 110px;
    margin: 10px;
}

#preview {
    position:fixed;
	left:200px;
	top:50px;
}

#preview img{ margin-top: 20px;}

.handletopArrowThumb {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 9999;
    -webkit-box-shadow: 0px 2px 12px 0px #66afe9;
    -moz-box-shadow: 0px 2px 12px 0px #66afe9;
    box-shadow: 0px 2px 12px 0px #66afe9;
}

#mainBody {
    width: 100%;
    height: 1000px;
}

#maindiv {
    right: 0px;
    width: 100vw;
}

.btn-success {
    color: #fff;
    background-color: #D61055;
    border-color: #4cae4c;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn {
    display: inline-block;
    padding: 14px 18px;
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.speedbuy {
    width: 16vw;
    height: 52vh;
    position: fixed;
    margin: 40px 0 0 40px;
    border-radius: 2%;
    padding: 2%;
   background-color:#FFF;
	
}

.speedbuy2 {
    width: 400px;
    height: 400px;
    position: fixed;
    border-radius: 2%;
    left:70%;
    top: 20%;
 }

.speedbuy img {
    float: left;
    margin: 0 10px 0 0;
}

.detailedDesc {
    width: 17vw;
    height: 15vh;
    position: fixed;
    margin: 1px ;
    padding: 2%;
    
}

.testimage {
    width: 100%;
    height: 100%;
}

.logo {
    width: 100%;
    height: 80px;
    clear: both;
}

.logo2{ position:fixed; top:30px; right:30px;}

h1 {
    margin: 5px 0 0 0;
	color:#ff5b5b;
}

h2 {
    margin: 0 0 0 0;
    color: #000;
    font-weight: bold;
	font-size:14px;
}

h3 {
    margin: 5px 0 0 0;
    color: #f00;
    font-weight: normal;
	font-size:14px;
}

h4 {
    margin: 5px 0 0 0;
    color: #000;
    font-weight: normal;
    line-height: 15px;
	font-size:12px;
}

.button {
    width:120px;
    height: 30px;
    display: block;
    background-color: #ec1e2a;
    border-radius: 3px;

    float: left;
    color: #FFF;
    text-align: center;
    font-family: 'open_sansregular', sana-serif;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin: 10% auto 0 0;
    font-weight: 500;
    border: #F44855 solid 1px;
    line-height: 30px;
}

.button2 {
    width:120px;
    height: 30px;
    display: block;
    background-color: #ec1e2a;
    border-radius: 3px;

    float: left;
    color: #FFF;
    text-align: center;
    font-family: 'open_sansregular', sana-serif;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin: 10% auto 0 0;
    font-weight: 500;
    border: #F44855 solid 1px;
    line-height: 20px;
}


.buttonHover {
    transform: scale(1.1);
}

ul {
    margin: 0 0 0 0;
}

li {
    list-style: none;
    float: none;
    margin: 0 0 0 0;
}

#productDetails {
    width: 100%;
    height: 100%;
	position:fixed;
}

#DetailedPreview {
    width: 40%;
    float: left;
    height: 100%;
}

#DetailedPreview img{ margin:40px;}

#productDesc {
    width: 54%;
    float:right;
    height: 100%;
    padding-top: 20px;
}

#productDesc2 {
    width: 50%;
    float: right;
    height: 100%;
    padding-top: 20px;
}

.prdoTitle {
    color: #818181;
    padding-top: 10px;
}

#selectedColor {
    margin-top: 20px;
    color: #818181;
}

#availableColors {
 }

.clorsDiv {
    width: 45px;
    height: 40px;
    float: left;
    margin: 15px 30px 15px 0px;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
}

.clorsDivactive {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
    box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
}

#selectedSizeTable {
   
    color: #818181;
}

#selectedSize {
    font-size: 14px;
    padding-top: 1px;
}

#availableSizes {
    height: 30px;
    margin: 15px 35px 15px 0px;
    padding-top: 10px;
}

.sizeDiv {
	min-width:70px;
    width: auto;
    color: #333;
    float: left;
    margin: 0 7px 0 7px;
    ;
    font-size: 14px;
    background-color: #F5F5F5;
    padding: 2px;
    text-align: center;
    line-height: 30px;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
}

.sizeActive {
    background-color: #FFFFFF;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
    box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
}

#quantity {
    margin-top: 25px;
}

.qtyDiv {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 10px 15px 0;
    text-align: center;
    line-height: 30px;
    color: #000;
    font-size: 14px;
    background-color: #F5F5F5;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
}

.qtyDivActive {
    background-color: #FFFFFF;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
    box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
}

.qtyDivCount {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 10px 15px 0;
    text-align: center;
    line-height: 30px;
    color: #000;
    font-size: 14px;
}

.qtyContainer {
    margin: 15px 0 0 0;
}

.btnContainer {
    margin: 5px 0 0 0;
    width: 200px;
}

#checkoutPage {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 999;
}

.checkCont {
    width: 400px;
    height: 300px;
    /* border:1px solid #f00; */
    margin: 100px auto;
    padding: 30px;
}

.inputTxt {
    width: 350px;
    height: 15px;
    border: #fff solid 1px;
    padding: 10px;
    margin: 10px;
    background-color: #eaeaea;
    color: #000;
    border-radius: 8px;
	box-shadow:inset 1px 1px 8px #999;
}
.inputTxtActive {
    width: 360px;
    height: 16px;
    border: #DADADA solid 1px;
    padding: 10px;
    margin: 10px;
    background-color: #929292;
    color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #222;
}



#ConfirmButton {
    width: 200px;
    height: 8%;
    text-align: center;
}

.buttonChkout {
    width: 85%;
    height: 100%;
    display: block;
    background-color: #ff5b5b;
    border-radius: 3px;
    padding: 5px;
    float: left;
    color: #FFF;
    text-align: center;
    font-family: 'open_sansregular', sana-serif;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin: 10px;
    font-weight: 500;
    border: #F44855 solid 1px;
    line-height: 150%;
}
#totalPrice
{
	padding-top:30px;
}
.confirmContainer{
    margin: 5px 0 0 0;
    width: 200px;	
}
#sbid,#cbid{
display:none;	
}
#loading
{
	color:#FF0000;
	margin-top:35px;	
}

/*New Classes - 27/4--*/

.dummy{ width:100%; height:80px;}
#sbdesc
{
height:40px;
display:block;
width:100%;

}

.shopnow {
    width:120px;
    height: 30px;
    display: block;
    background-color: #ec1e2a;
    border-radius: 3px;
    float: left;
    color: #FFF;
    text-align: center;
    font-family: 'open_sansregular', sana-serif;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin: 10% auto 0 0;
    font-weight: 500;
    border: #F44855 solid 1px;
    line-height: 30px;
    cursor: pointer;
}